<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bulma-extensions@3.0.0/dist/js/bulma-extensions.js"></script>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Cousine" />
    <title>whiter</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but whiter doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
