<template>
    <div class="container">
        <h1>OPOSSUM</h1>
        <h2>WHITER</h2>
    </div>
</template>

<script>
export default {
  name: "headSection"
};
</script>

<style scoped>
.container {
  height: 160px;
}

h1 {
  padding-top: 40px;
  font-size: 13px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 0.3em;
  color: #afafaf;
}

h2 {
    font-family: monospace;
    font-size: 30px;
    letter-spacing: 18px;
    padding-top: 30px;
    padding-left: 12px;
    color: black;
}
</style>
