<template>
  <div id="app">
    <HeadSection/>
    <FrontPage/>
  </div>
</template>

<script>
import FrontPage from './Components/FrontPage'
import HeadSection from './Components/HeadSection'
import { consoleWrap } from './utils/consoleWrap'

export default {
  name: 'app',
  components: {
    FrontPage,
    HeadSection
  },
  mounted: function() {
    let self = this;
    consoleWrap(function(msg, config) {

      self.$toast.open({...config, message: msg})
    })
    
  }
}


</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /* margin-top: 60px; */
}

html {
  background-color: #f1f3f5 !important;
  height: 100vh;
}
</style>
